<?xml version="1.0" encoding="UTF-8"?>
<configuration
    xmlns="http://ch.qos.logback/xml/ns/logback"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://ch.qos.logback/xml/ns/logback https://raw.githubusercontent.com/enricopulatzo/logback-XSD/master/src/main/xsd/logback.xsd">

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%level]\t%d{HH:mm:ss.SSS} [%t] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="io.grpc" level="info" />
    <logger name="io.netty" level="info" />

    <logger name="tech.ydb" level="info" />

    <logger name="org.testcontainers" level="warn" />
    <logger name="com.github.dockerjava" level="warn"/>
    <logger name="com.github.dockerjava.zerodep.shaded.org.apache.hc.client5.http.wire" level="off"/>

    <root level="debug">
        <appender-ref ref="stdout" />
    </root>
</configuration>
